@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    background-image: url(../img/king-img.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}

.hero5-links {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    text-underline-offset: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
}

.home-link {
    color: rgba(21, 42, 120, 0.856);
    text-underline-offset: 4px;
}

.king-name {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 60px;
    margin-left: 90px;
    color: rgba(21, 42, 120, 0.856);
    text-shadow: 5px 5px 3px rgb(63, 63, 63);

    & h1 {
        font-style: italic;
        font-size: 21rem;
        font-weight: 1000;
    }
}

.king-cutout {
    position: fixed;
    top: 46.6%;
    left: 48.74%;
    transform: translate(-50%, -50%);
    width: 110vw;
    height: 130vh;
    background-image: url(../img/king-nobg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
    z-index: 0;
}

.king-info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 190px;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    background-color: rgba(188, 188, 188, 0.356);
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.305);
    backdrop-filter: blur(2px);
    width: 45vw;
    height: 20vh;
    z-index: 2;
    transition: all 500ms ease;

    & p {
        font-size: 1.1rem;
        font-weight: 500;
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
    }

    & span {
        color: rgb(0, 21, 96);
        font-weight: 700;
    }
}

.king-info:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 21, 96, 0.504) -5px 5px, rgba(0, 21, 96, 0.488) -10px 10px, rgba(0, 21, 96, 0.225) -15px 15px, rgba(0, 21, 96, 0.115) -20px 20px, rgba(0, 21, 96, 0.06) -25px 25px;
}

.king-info2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-left: 550px;
    margin-top: 190px;
    color: rgb(0, 0, 0);
    background-color: rgba(188, 188, 188, 0.356);
    backdrop-filter: blur(2px);
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.305);
    width: 31vw;
    height: 8vh;
    z-index: 5;
    transition: all 500ms;

    & p {
        font-size: 1rem;
        font-weight: 400;
        margin-left: 30px;
        margin-right: 30px;
    }

    & span {
        margin-right: 3px;
        font-weight: 700;
        color: rgb(0, 21, 96);
    }

}

.king-info2:hover {
    transform: scale(1.2);
    background-image: url(../img/tekken-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25vw;
    box-shadow: -6px 6px 9px rgba(195, 195, 195, 0.597);
    outline: 4px solid rgb(0, 0, 0);
    border-radius: 5px;

    & p {
        color: #00000000;
    }

    & span {
        color: #00000000;

    }
}

.king-info3 {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 1200px;
    margin-top: -620px;
    color: rgba(21, 42, 120, 0.856);
    text-shadow: 5px 5px 3px rgb(63, 63, 63);
    width: 15vw;
    height: 95vh;
    z-index: -1;

    & p {
        text-orientation: upright;
        writing-mode: vertical-lr;
        font-size: 13.5rem;
        font-weight: 1000;
        font-style: italic;
        letter-spacing: 0px;    }
}