@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin:0px;
    height:100%;
    font-family: "Josefin Sans", sans-serif;
    background-image: url(../img/herocard1-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 130%;
}

.home-link {
    color: rgb(255, 213, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    text-underline-offset: 4px;
}

.kobe-number {
    color: rgba(255, 255, 255, 0);
    margin-left: 1290px;
    margin-top: 320px;
    position: absolute;

    & h3 {
        font-size: 3.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 5px 5px 3px rgb(0, 0, 0);
        -webkit-text-stroke: 3px rgb(255, 213, 0);
    }
}

.hero-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
    margin-top: 270px;
    margin-left: 490px;
    margin-bottom:40px;
    background-c olor: rgba(153, 205, 50, 0.437);

    & h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 8.5rem;
        text-shadow: 4px 4px 3px rgb(0, 0, 0);
        -webkit-text-stroke: 3px rgb(255, 213, 0);
    }
}

.card-info {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 20vw;
    height: 12vh;
    margin-left: 140px;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 20px;
    color: rgb(255, 213, 0);
    background-color: rgba(255, 255, 255, 0.038);
    backdrop-filter: blur(10px);
    outline: 3px solid rgb(200, 176, 23);
    box-shadow: -6px 6px 9px rgba(255, 255, 255, 0.288);


    & h3 {
        font-size: 1rem;
        font-weight: 400;
        height: 68vh;
        width: 13vw;
    }

    & span {
        color: rgb(255, 255, 255);
        font-style: italic;
        font-weight: 100;
    }
}


.card-info2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 750px;
    margin-top: -540px;
    color: rgb(255, 213, 0);
    background-color: rgba(255, 255, 255, 0.038);
    backdrop-filter: blur(10px);
    outline: 1px solid rgb(192, 198, 25);
    box-shadow: 6px 6px 9px rgba(255, 255, 255, 0.286);

    width: 45vw;
    height: 18vh;


    & p {
        font-size: 1.4rem;
        font-weight: 300;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }
}